*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.btn{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 30px;
}
button{
    font-size: 30px;
    padding: 10px;
    background-color: orange;
    border: none;
}
.Cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
.ApiList{
    border: 3px solid black;
    width: 300px;
    height: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.category{
    background-color: blue;
    color: white;
    padding: 10px;
    width: 150px;
    text-align: center;
    margin-left: 50px;
}
.picture{
    width: 200px;
    height: 200px;
}